
<html>
	<head>
		<title></title>
	</head>

	<body>
		<div class="container" style="width: 400px;">
			<div class="alert alert-info">
			  <strong><%= @messages %></strong> <a href="../" style="color: black">Krijo nje tjeter</a>
			</div>	
		</div>
	</body>
</html>